.sidebar {
  z-index: 201;
  position: fixed;
  top: 5rem;
  right: 0;
  background-color: white;
  display: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 2rem 4rem 2rem 2rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  transition: ease-in 0.4s;
}

.sidebar-off {
  right: -18rem;
}

@media (max-width: 514px) {
  .sidebar {
    display: block;
  }
}
