.footer {
  background-color: var(--back-drop-color);
  width: 1005;
  height: 24rem;
  margin-top: 10rem;
  /* position: absolute;
  bottom: 0; */
  position: relative;
}

.company-tag {
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 0;
  border-top: solid 1px white;
  left: 0;
  right: 0;
  padding: 2rem 0rem 3rem 2rem;
}

.company-tag img {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}
